#background{
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fgroceries.html&psig=AOvVaw37zLCMKkB7Bo9Q8aLO1-SB&ust=1682408744093000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCOi9qJaDwv4CFQAAAAAdAAAAABA');
}

.login {
    width: 500px;
    margin: 20px auto;
    font-size: 16px;
    position: relative;
    right: 50px;
    top: 15px;
    
    

  }

  .password {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }

  .button {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    position: relative;
    bottom: 25px;

    
  }


  .size-of-card {
    max-width: 500px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    top: 100px;
    box-shadow: 2px 2px 5px 3px #6c8b7c;
    border-radius: 10px;
    

  }

  
    
  
  