


<button mat-raised-button color ="primary" (click)="sale()">Sales</button>
<br><br>
<button mat-raised-button color ="primary" (click)="received()">Receiving</button>
<br><br>
<button mat-raised-button color ="primary" (click)="category()">Category List</button>
<br><br>
<button mat-raised-button color ="primary" (click)="product()">Product List</button>
<br><br>
<button mat-raised-button color ="primary" (click)="supplier()">Supplier List</button>
<br><br>
<button mat-raised-button color ="primary" (click)="customer()">Customer List</button>
<br><br>
<button mat-raised-button color ="primary" (click)="user()">Users</button>


